
html {
	height:	100%
}

body {
	height:	100%;
	margin:	0;
	padding:  0;
	font-family: sans-serif;
}

h2 {
	position: absolute;
	margin-top: 9px;
	padding-left: 45px;
}

a {
	color: #e85113;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
}

#about {
	bottom: -12px;
}

#aboutWindow{
	box-shadow: 5px 5px 20px #888888;
	left: 7%;
	width: 25%;
	min-width: 150px;
	height: 80%;
	bottom: 0px;
	background-color: #7accf0;
	position: absolute;
	z-index: 98;
	-webkit-transition: bottom 1s; /* For Safari 3.1 to 6.0 */
    transition: bottom 1s;
}

#aboutWindow:active, #aboutWindow.actived {
	bottom: -80%;
	-webkit-transition: bottom 1s; /* For Safari 3.1 to 6.0 */
    transition: bottom 1s;
}


#footer {
	width: 100%;
	min-width: 700px;
	min-height: 60px;
	position: absolute;
	bottom: -8px;
	z-index: 99;
}

#header {
	float: left;
	height: 45px;
	width: 100%;
	background-color: #dccfc7;
}

#googleMap {
	height: 94%;
	width: 100%;
	margin: 0 auto;
}