
html {
	height:	100%
}

body {
	height:	100%;
	margin:	0;
	padding:  0;
	font-family: sans-serif;
	overflow: hidden;
}

h2 {
	position: absolute;
	margin-top: 9px;
	padding-left: 45px;
}

form {
	float: right;
	padding-right: 45px;
	margin-top: 12px;
}

a {
	color: #e85113;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
}

.windowContent {
	padding: 10px;
}

/*
#about {
	bottom: -12px;
}
*/

#aboutWindow{
	box-shadow: 5px 5px 20px #767676;
	left: 5%;
	width: 25%;
	min-width: 170px;
	height: 87%;
	bottom: 0px;
	background-color: #7accf0;
	position: absolute;
	z-index: 98;
	-webkit-transition: bottom 1s; /* For Safari 3.1 to 6.0 */
    transition: bottom 1s;
}

#aboutWindow:active, #aboutWindow.actived {
	bottom: -80%;
	-webkit-transition: bottom 0.5s; /* For Safari 3.1 to 6.0 */
    transition: bottom 0.5s;
}

#searchWindow{
	box-shadow: 5px 5px 20px #767676;
	right: 5%;
	width: 25%;
	min-width: 170px;
	height: 87%;
	bottom: -80%;
	background-color: #7accf0;
	position: absolute;
	z-index: 98;
	-webkit-transition: bottom 0.5s; /* For Safari 3.1 to 6.0 */
    transition: bottom 0.5s;
}

#searchWindow:active, #searchWindow.actived {
	bottom: 0px;
	-webkit-transition: bottom 1s; /* For Safari 3.1 to 6.0 */
    transition: bottom 1s;
}

#resultsWindow{
	height: 65vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

#resultsWindow>ul{
	list-style-type: none;
}


#footer {
	width: 100%;
	min-width: 700px;
	min-height: 60px;
	position: absolute;
	bottom: -8px;
	z-index: 99;
}

#header {
	float: left;
	height: 45px;
	width: 100%;
	background-color: #dccfc7;
}

#googleMap {
	height: 94%;
	width: 100%;
	margin: 0 auto;
}