
html {
	height:	100%
}

body {
	height:	100%;
	margin:	0;
	padding:  0;
	color: #292929;
	font-family: 'Karla', sans-serif;
	letter-spacing: .015em;
	overflow: hidden;
}

#mobile{
		display: none!important;
		visibility: hidden!important;
}

h2 {
	color: #e85113;
	float: left;
	margin-top: 6px;
	padding-left: 45px;
	font-family: 'Bubblegum Sans', cursive;
	font-size: 2.8em;
	letter-spacing: .02em;
}

h2:hover {
	color: #f9f9f9;
}

h3 {
	margin-top: 5px;
	margin-left: 10px;
	font-family: 'Karla', sans-serif;
	font-weight: 700;
	font-size: 1.65em;
	letter-spacing: .02em;
}

h4 {
	color: #e85113;
	font-size: 1.12em;
	margin-left: -15px;
}

p {
	font-size: 1.3em;
	line-height: 1.6em;
}

ul {
	margin-left: -10px;
}

li {
	font-size: 1.3em;
	line-height: 1.6em;
}

li p {
	font-size: 1em;
	line-height: 1.6em;
}

.logo {
	max-width: 72px;
	float: left;
	margin-top: -3px;
	margin-left: 20px;
}

#searchClose, #aboutClose{
	margin-right: 15px;
}

#search {
	float: right;
	padding-right: 45px;
	margin-top: 12px;
}

a {
	text-decoration: none;
}

a:hover {
	color: #f9f9f9;
	text-decoration: none;
}
div#pics img.img-responsive {
	width: 90%;
	margin-bottom: 20px;

}

.windowContent {
	height: 65vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

#aboutWindow{
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, .25);
	box-shadow: 5px 5px 20px rgba(0, 0, 0, .25);
	left: 6%;
	width: 26%;
	min-width: 170px;
	height: 87%;
	bottom: 0px;
	padding: 12px;
	border-radius: 4px;
	background-color: #A9D9FF;
	position: absolute;
	z-index: 98;
	-webkit-transition: bottom 1s; /* For Safari 3.1 to 6.0 */
    transition: bottom 1s;
}

#aboutWindow.actived {
	bottom: -90%;
	-webkit-transition: bottom 0.5s; /* For Safari 3.1 to 6.0 */
    transition: bottom 0.5s;
}

#searchWindow{
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, .25);
	box-shadow: 5px 5px 20px 5px 5px 20px rgba(0, 0, 0, .25);
	right: 6%;
	width: 26%;
	min-width: 170px;
	height: 87%;
	bottom: -90%;
	padding: 12px;
	border-radius: 4px;
	background-color: #A9D9FF;
	position: absolute;
	z-index: 98;
	-webkit-transition: bottom 0.5s; /* For Safari 3.1 to 6.0 */
    transition: bottom 0.5s;
}

#searchWindow.actived {
	bottom: 0px;
	-webkit-transition: bottom 1s; /* For Safari 3.1 to 6.0 */
    transition: bottom 1s;
}

#resultsWindow{
	height: 65vh;
	overflow-y: scroll;
	overflow-x: hidden;

}

#resultsWindow>ul{
	list-style-type: none;
}

#footer {
	width: 3000px;
	position: fixed;
	height: 70px;
	margin: 0 auto;
	text-align: center;
	bottom: 0px;
	z-index: 99;
}

#header {
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, .25);
	box-shadow: 5px 5px 20px rgba(0, 0, 0, .25);
	float: none;
	position: absolute;
	top: 0px;
	height: 50px;
	width: 100%;
	background-color: #A9D9FF;
	z-index: 99;
}

#googleMap {
	height: 96%;
	width: 100%;
	margin: 0 auto;
	margin-top: 45px;
}

#searchBox {
	background-color: #f9f9f9;
	color: #e85113;
	border: none;
	padding: 5px;
	margin-top: 0;
	margin-right: -4px;
	border-radius: 4px 0px 0px 4px;
}

#searchButton {
	background-color: #e85113;
	color: #f9f9f9;
	letter-spacing: .055em;
	border: none;
	padding: 5px;
	margin-top: 0;
	margin-left: 0px;
	border-radius: 0px 4px 4px 0px;
}

@media screen and (max-width : 1400px){
	p{
		font-size: 1em;
	}

	a{
		font-size: 1em;
	}

	h3, h4{
		font-size: 1.4em;
	}

	li {
		font-size: 1em;
	}

	li p {
		font-size: 1em;
	}
}

@media screen and (max-width : 900px){
	body{
		color: #292929;
		background-color: #A9D9FF;
		margin-left: 10px;
		margin-right: 10px;
	}

	#mobile{
		display: inline!important;
		visibility: visible!important;
	}
	
	h1{
		color: #e85113;
	}

	#header, #googleMap, #aboutWindow, #searchWindow, #footer{
		display: none!important;
		visibility: hidden!important;
	}
}